<!--<configuration>-->
<!--    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>-->
<!--    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">-->
<!--        <token>NjJxpPrgXVQucwJXFQgNYLjhOlDfcNtN</token>-->
<!--        <logzioType>myAwesomeType</logzioType>-->
<!--        <logzioUrl>https://listener.logz.io:8071</logzioUrl>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--    </appender>-->
<!--    <root level="debug">-->
<!--        <appender-ref ref="LogzioLogbackAppender"/>-->
<!--        <appender-ref ref="Console"/>-->
<!--    </root>-->
<!--</configuration>-->